#side-menu{
	position:absolute;
	left: 10px;
}

#table-view{
	margin-left: 60px !important;
}

.page-container{
	margin: 10px 10px 10px 10px;
}

.column-checkboxes{
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

.new-column-checkboxes{
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

